:root {
  --color-primary: #191919;
  --color-secondary: #f9f9f9;
  --color-border: #6d6d6d;
  --color-text: #ffffff;
  --transition-time: 0.5s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 2rem;
  background: var(--color-secondary);
  color: var(--color-primary);
}

/* Links */

.link {
  color: var(--color-primary);
  text-decoration: none;
}

/* Navigation */

.nav {
  background-color: var(--color-text);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-company {
  align-self: center;
  font-size: 3rem;
  font-weight: 700;
  margin-left: 5rem;
  transition: var(--transition-time);
}

.nav-company:hover {
  transform: scale(1.1);
}

.list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin-right: 4rem;
}

.list__item {
  cursor: pointer;
  margin: 0 1rem;
}

.list__item a {
  transition: color var(--transition-time) ease;
}

.list__item a:hover {
  color: var(--color-border);
}

@media (min-width: 1900px) {
  .nav-company {
    margin-left: 20rem;
  }

  .list {
    margin-right: 20rem;
  }
}

@media (min-width: 2300px) {
  .nav-company {
    margin-left: 40rem;
  }

  .list {
    margin-right: 40rem;
  }
}

/* Grids */

.grid-1x5 {
  display: grid;
  gap: 25px;
  grid-template-columns: 40rem;
  justify-content: center;
  margin: 0 0 25px 0;
  position: relative;
  top: 96px;
}

.grid__item {
  background: var(--color-text);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(25, 25, 25, 0.1);
  height: 40rem;
}

@media (min-width: 576px) {
  .grid-1x5 {
    grid-template-columns: 50rem;
  }

  .grid__item {
    height: 50rem;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .grid-1x5 {
    grid-template-columns: repeat(2, 50rem);
    margin-right: 10rem;
  }

  .grid__item-one {
    width: 40rem;
    justify-self: end;
  }

  .grid__item-three {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .grid__item-four {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .grid__item-five {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
}

@media (min-width: 1500px) {
  .grid-1x5 {
    grid-template-columns: repeat(3, 50rem);
    row-gap: 12.5px;
  }

  .grid__item-one {
    justify-self: end;
  }

  .grid__item-three {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .grid__item-four {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .grid__item-five {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}

/* Media component */

.media {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  width: 100%;
}

.media__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.media__author {
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.media__profession,
.media__location {
  color: var(--color-border);
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 0.2rem;
}

.media__location {
  transition: color var(--transition-time);
}

.media__location:hover {
  color: var(--color-primary);
}

.media__location .fa-solid,
.media__profession .fa-brands {
  margin-right: 0.8rem;
}

.media__image {
  border-radius: 100px;
  height: 120px;
  width: 120px;
}

.link-container {
  display: flex;
  flex-direction: column;
  margin: 0 4rem 4rem;
}

.link__large {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.link__small {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.link-btn {
  background: var(--color-text);
  border-radius: 40px;
  border: 1px solid var(--color-border);
  cursor: pointer;
  margin: 0.5rem 0.2rem;
  padding: 1rem 1.5rem;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.fa-brands {
  margin-right: 1rem;
}

.link-btn:hover {
  background: var(--color-primary);
  color: var(--color-text);
}

.link-btn--dark {
  background: var(--color-primary);
  color: var(--color-text);
}

.link-btn--dark:hover {
  background: var(--color-text);
  border: 1px solid var(--color-border);
  color: var(--color-primary);
}

/* Features */

.feature-box {
  border: 1px solid var(--color-primary);
  height: 500px;
  width: 500px;
}

.feature__header {
  background-color: var(--color-primary);
  height: 10%;
  opacity: 80%;
  position: absolute;
  width: 500px;
}

.feature__body {
  background-image: url('../images/temp.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}
