<!-- Grid 1x5 Homepage -->

<div class="grid-1x5">
  <div class="grid__item grid__item-one">One</div>
  <div class="grid__item grid__item-two">Two</div>
  <div class="grid__item grid__item-three">Three</div>
  <div class="grid__item grid__item-four">Four</div>
  <div class="grid__item grid__item-five">Five</div>
</div>

<!-- Grid 1x4 Projects -->
<div class="grid-1x4">
  <div class="grid__item grid__item-one">One</div>
  <div class="grid__item grid__item-two">Two</div>
  <div class="grid__item grid__item-three">Three</div>
  <div class="grid__item grid__item-four">Four</div>
</div>

<!-- Grid 3x3 Projects -->
<div class="grid-3x3">
  <div class="grid__item grid__item-one">One</div>
  <div class="grid__item grid__item-two">Two</div>
  <div class="grid__item grid__item-three">Three</div>
  <div class="grid__item grid__item-four">Four</div>
  <div class="grid__item grid__item-four">Five</div>
  <div class="grid__item grid__item-four">Six</div>
  <div class="grid__item grid__item-four">Seven</div>
  <div class="grid__item grid__item-four">Eight</div>
  <div class="grid__item grid__item-four">Nine</div>
</div>
